body {
    background-color: #fffffe;

}

p {
    background-color: #fcfdfd
}

input[type=submit] {
    background-color: cornflowerblue;
    padding: 8px;
    border-radius: 4px;
}
@media only screen and (max-width: 425px) {
    .pic {
        float:none
    }
}
.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display:table;
}
.column {
float: left;
width: 25%;
margin-bottom: 16px;
padding:0 8px;
}
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2)
}
.title {
    color: black
}