body {
    background-color: #fffffe;
}

p {
    background-color: #fcfdfd
}

input[type=submit] {
    background-color: cornflowerblue;
    padding: 8px;
    border-radius: 4px;
}

float-right {
    float: right;
}